/*div.container {*/
  /*margin: 3px;*/
/*}*/

@media (min-width: 768px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

div.navbar {
  background-color: rgb(255, 153, 204);
}
